.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba(128, 214, 113, 0.8),
      rgba(39, 180, 133, 0.6)
    ),
    url("/src/assets/img/hero.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.header__herocontent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__herocontent-heading {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
  color: white;
  margin-bottom: 8rem;
  backface-visibility: hidden;
}
.header__herocontent-heading--main {
  letter-spacing: 3.2rem;
  font-size: 6.2rem;
  font-weight: 500;
  animation: moveInLeft 1s ease-out;
}
.header__herocontent-heading--sub {
  font-size: 2.2rem;
  letter-spacing: 1.6rem;
  font-weight: 600;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.header__btn:link,
.header__btn:visited {
  padding: 1.6rem 3.2rem;
  border-radius: 30px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  backface-visibility: hidden;
  position: relative;
}
.header__btn--white {
  background-color: #fff;
  color: #777;
}
.header__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.header__btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.header__btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 30px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.2s;
}
.header__btn--white::after {
  background-color: #fff;
  color: #777;
}
.header__btn--white:hover::after {
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}
.header__btn--animated{
    animation: moveInBottom 1s ease-in;
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
